/**
 * Styles for the hyx theme.
 */

a {
    color: #53caff;
}

img {
    margin: 0;
}

.field-name-field-image img {
    /*border: 1px solid #000000;*/
}
.navbar{
    margin-bottom: 0;
    border-bottom: 0;
}

.breadcrumb {
    background-color: transparent;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 0;
}

.breadcrumb a, .breadcrumb .active {
    color: #fff;
}

.banner {
    //background-color: #333A40;
    padding: 10px 0 0px 0;
    //color: #fff;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner h1 {
    color: #fff;
    border: 0;
}

.hyx-onecol-banner .center.banner {
    margin-top: 20px;
    padding: 10px 0 10px 0;
}