#backtotop {
    background: url(../img/backtotop.png) no-repeat center center;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    #backtotop {
        background: url(../img/backtotop.png) no-repeat center center;
        background-size: 70px 70px;
    }

}

#payment-details {
    padding: 10px;
    border:1px solid;
}

.commerce-paypal-icon {
    display: inline-block;
}

.btn-default.checkout-continue {
    color: #fff;
    background-color: #5bc0de;
}