/**
 * Styles for the hyx theme.
 */

a {
    color: #53caff;
}

.field-name-field-image img {
    /*border: 1px solid #000000;*/
}
.navbar{
    margin-bottom: 0;
    border-bottom: 0;
}

.hyx-header ul {
    margin-top: 30px;
}

.breadcrumb {
    background-color: transparent;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 0;
}

.breadcrumb a, .breadcrumb .active {
    color: #fff;
}

.banner {
    //background-color: #333A40;
    padding: 10px 0 0px 0;
    //color: #fff;
}

.nav-tabs {
    margin-top: 20px;
}

.banner h1 {
    color: #fff;
    border: 0;
}

.wrapper-footer {
    background-color: #3D3D3C;
    padding: 20px 0;
    color: #d6d6d5;
    margin-top: 40px;
}

.wrapper-footer h2 {
    font-size: 1.4em;
    color: #FFFFFF;
}
.footer {
    background-color: #333332;
    margin-top: 0;
    border-top: 0;
    padding-top: 10px;
}