/**
 * Styles for the hyx theme.
 */

body {
    font-size: 16px;
}

a {
    color: #53caff;
}

img {
    margin: 0;
}

.hyx-header-toolbox li ul li {
    vertical-align: middle;
    float: none;
    margin: 5px 0;
}

.sendinblue-newsletter-mergefields label {
    display: none;
}

.field-name-field-image img {
    /*border: 1px solid #000000;*/
}
.navbar{
    margin-bottom: 0;
    border-bottom: 0;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 0;
}

.banner {
    //background-color: #333A40;
    padding: 10px 0 0px 0;
    //color: #fff;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner h1 {
    color: #fff;
    border: 0;
}

.hyx-onecol-banner .center.banner {
    margin-top: 20px;
    padding: 10px 0 10px 0;
}

.hyx-twocol-livre .top-right .pane-node-body {
    margin-bottom: 10px;
}

.hyx-twocol-livre .top-right .pane-node-product-commerce-price {
    font-size: 2em;
    padding: 20px 0;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.hyx-twocol-livre .top-right .pane-node-field-produit {

}

.hyx-twocol-livre .top-right .pane-node-field-produit .hyx-button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #ccc;
}